#parrilla{
    font-size: 12px;
    overflow: auto;
    position: absolute;
    width: 80%;
    height: 75%;
    left:10%;
    top:10%;
    bottom:0%;
    text-align: center;
}
#cuerpo p{
    margin-left: 30%;
    margin-top: 0%;
    text-align: left;
}
th.parrilla{
    height: 50px;
    color: #ffffff;
}
table.parrilla, th.parrilla, td.parrilla, thead.parrilla, tfoot.parrilla {
    border: 1px solid black;
}
table.parrilla{
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 0px;
}
td.parrilla {
    padding: 2px;
    text-align: left;
}
tfoot.parrilla{
    height: 50%;
}
#columnaNick{
    width:55%;
}
#pag{
    margin: 0px;
    padding: 0px;
    width: 100px;
}
#iz, #finIz, #de, #finDe, #se, #pag, #menos, #mas{
    display: inline-block;
}
.mas{
    margin: 0 10px 0 50px;
    padding: 8px;
    background: url(../vista/iconos/mas.png) no-repeat  center; 
}
.menos{
    margin: 0 50px 0 10px;
    padding: 8px;
    background: url(../vista/iconos/menos.png) no-repeat  center;  
}
.iz{
    margin: 0 5px 0 5px;
    padding: 8px;
    background: url(../vista/iconos/iz.png) no-repeat  center;
}
.finIz{
    margin: 0 5px 0 50px;
    padding: 8px;
    background: url(../vista/iconos/finI.png) no-repeat  center;  
}
select.parrilla{
    margin: 0 5px 0 5px;
    width: 5%;
    height: 1.5em;
    padding: 0.02em;
}
input.parrilla{
    margin: 0px;
    height: 1.25em;
    background-color: white;
    width:30px;
    padding: 1px;
}
.de{
    margin: 0 5px 0 5px;
    padding: 8px;
    background: url(../vista/iconos/de.png) no-repeat  center;
}
.finDe{
    margin: 0 50px 0 5px;
    padding: 8px;
    background: url(../vista/iconos/finD.png) no-repeat  center;  
}

div.titulo{
 opacity: 0.4;
}